__pycache__

# finetune_demo: generated & downloaded files
finetune_demo/output
finetune_demo/data
finetune_demo/formatted_data
ToolAlpaca/
AdvertiseGen/
*.gz
*.idea
.ipynb_checkpoints/
*log*
composite_demo/Langchain_Chatchat/models/
composite_demo/Langchain_Chatchat/knowledge_base/
